body {
    background-color: #00000;
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 0;
    border: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #008080;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.button {
    background-color: #white;
    color: black;
    padding: 10px 20px;
    border: 5;
    border-radius: 15px;
    cursor: pointer;
}

.settings {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
